# Prefer passing credentials inline at the CLI:
#   USER=admin PASS=hunter2 URL=http://192.168.200.1 yarn start
#
# These VITE_* vars are an alternate way (e.g. for .env.local):
VITE_MIKROTIK_URL=http://192.168.200.1
VITE_MIKROTIK_USER=admin
VITE_MIKROTIK_PASSWORD=
VITE_POLL_INTERVAL_MS=3000
VITE_GEOIP_DB_URL=/geoip/GeoLite2-City.mmdb
